body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  color: black;
}

/* Add this CSS in your main CSS file or style section of your component */
.product-details {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: box-shadow 0.3s ease;
}

.product-details:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-details .pro-img {
  height: 250px;
}

.product-details .product-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.product-details .product-title:hover {
  color: #007bff;
  text-decoration: underline;
}
